@use 'abstract' as *;

.app {
    // $bg-overlay: linear-gradient(rgba(#000, 0.4), rgba(#000, 0.4));
    // background-image: $bg-overlay, url('../assets/mobile/bg-image-daytime.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/mobile/bg-image-daytime.jpg');
    background-blend-mode: multiply;
    background-color: rgba(#000, 0.5);

    @include mq(tablet) {
        background-image: url('../assets/tablet/bg-image-daytime.jpg');
    }
    @include mq(desktop) {
        background-image: url('../assets/desktop/bg-image-daytime.jpg');
    }

    ::selection {
        background-color: rgba($color-dark-secondary, 0.5);
    }

    &--night {
        ::selection {
            background-color: rgba($color-grey, 0.5);
        }

        background-image: url('../assets/mobile/bg-image-nighttime.jpg');

        @include mq(tablet) {
            background-image: url('../assets/tablet/bg-image-nighttime.jpg');
        }
        @include mq(desktop) {
            background-image: url('../assets/desktop/bg-image-nighttime.jpg');
        }
    }

    min-height: 100vh;
    display: grid;
    grid-template-rows: auto max-content;
    position: relative;
    transition: 0.4s ease-out;

    &--loading {
        opacity: 0;
    }

    .container {
        @include mq(tablet) {
            margin-top: 8rem;
            margin-bottom: 6.4rem;
        }

        @include mq(desktop) {
            margin-top: 5.6rem;
            margin-bottom: 9.8rem;
        }
    }

    // Need to give space for quotes in mobile landscape
    @media only screen and (max-height: 25em) and (orientation: landscape) {
        grid-template-rows: 200vh auto;
    }
}
